.roomHeader_heading, .roomHeader_images{
    padding-top: 32px;
}

.roomHeader_heading_name{
    margin-bottom: 4px;
    font-size: 20px;
}

.roomHeader_heading_description{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    justify-content: space-between !important;
}

.roomHeader_heading_description_left{
    display: inline-flex;
}

.roomHeader_heading_stars{
    align-items: center;
    display: inline-flex;
    cursor: pointer;
}

.roomHeader_heading_star{
    color: red;
    margin-right: 4px;
}

.roomHeader_heading_dot{
    line-height: 24px;
    margin: 0px 8px;
}

.roomHeader_heading_place{
    line-height: 24px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    text-decoration: underline;
    display: inline-flex;
}

.roomHeader_heading_description_right{
    display: inline-flex;
}

.roomHeader_heading_btn{
    cursor: pointer !important;
    margin: 0px -8px !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    padding: 8px !important;
    border: medium none !important;
    background: transparent none repeat scroll 0% 0% !important;
    color: rgb(34, 34, 34) !important;
    text-decoration: underline !important;
    -moz-box-align: center !important;
    display: flex !important;
    outline: none !important;
}

.roomHeader_heading_btn:hover{
    border: medium none !important;
    background: rgb(247, 247, 247) none repeat scroll 0% 0% !important;
    color: rgb(0, 0, 0) !important;
}

.roomHeader_heading_heart{
    margin-right: 16px !important;
}

.roomHeader_heading_heart_svg{
    display: block;
    height: 8px !important;
    width: 8px !important;
    stroke: currentcolor;
    stroke-width: 2px;
    overflow: visible;
}

.roomHeader_heading_redHeart_svg{
    display: block;
    fill: rgb(255, 56, 92);
    height: 16px;
    width: 16px;
    stroke: rgb(255, 56, 92);
    stroke-width: 2px;
    overflow: visible;
}

.roomHeader_gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 6vw);
    grid-gap: 8px;
}

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.gallery_item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery_item--2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}


.gallery_item--3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery_item--4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery_item--5 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}
