/* .searchCard{
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
} */

.searchCard_links{
    display: flex;
    text-decoration: none;
}

/* .searchCard:hover{
    opacity: 0.8;
} */

.searchCard_img_hotel{
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchCard_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    color: black !important;
    width: 100%;
}

.searchCard_btn{
    cursor: not-allowed;
    /* position: absolute; */
    top: 20px;
    right: 40px;
    cursor: pointer !important;
    margin: 0px -8px !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    padding: 8px !important;
    border: medium none !important;
    background: transparent none repeat scroll 0% 0% !important;
    color: rgb(34, 34, 34) !important;
    text-decoration: underline !important;
    -moz-box-align: center !important;
    display: flex !important;
    outline: none !important;
}

.searchCard_btn:hover{
    border: medium none !important;
    background: rgb(240, 240, 240) none repeat scroll 0% 0% !important;
    color: rgb(0, 0, 0) !important;
}

.searchCard_heart{
    margin-right: 16px !important;
}

.searchCard_heart_svg{
    display: block;
    height: 8px !important;
    width: 8px !important;
    stroke: currentcolor;
    stroke-width: 2px;
    overflow: visible;
}

.searchCard_redHeart_svg{
    display: block;
    fill: rgb(255, 56, 92);
    height: 16px;
    width: 16px;
    stroke: rgb(255, 56, 92);
    stroke-width: 2px;
    overflow: visible;
}

.searchCard_infoTop{
    width: 70vw;
}

.searchCard_infoTop > h3{
    font-weight: 300;
    margin-top: 10px;
}

.searchCard_infoTop > p{
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

.searchCard_infoBottom{
    display: flex;
    justify-content: space-between;
}

.searchCard_star{
    color: red;
}

.searchCard_stars{
    display: flex;
    align-items: center;
}

.searchCard_price{
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.searchCard_price > h2 + p, .searchCard_price > h2{
    display: inline;
}

.searchCard_price > p{
    text-align: right;
}

