.searchPage{
    padding-bottom: 50px;
}

.searchPage_info{
    padding: 30px 50px;
}

.searchPage_link{
    text-decoration: none !important;
}

.searchPage_info > p{
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage_info > h1{
    margin-bottom: 30px;
    font-size: 50px;
}

.searchPage_filter_hotel{
    cursor: pointer !important;
    text-align: center !important;
    border: 1px solid rgb(176, 176, 176) !important;
    background-color: rgb(255, 255, 255) !important;
    outline: currentcolor none medium !important;
    margin: 0px !important;
    border-radius: 30px !important;
    color: rgb(34, 34, 34) !important;
    position: relative !important;
    padding: 8px 32px !important;
    font-size: 12px !important;
    line-height: 16px !important;
    font-weight: 600;
}

.searchPage_filter_hotel:hover{
    border-color: rgb(34, 34, 34) !important;
}

