.searchCard{
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.searchCard:hover{
    opacity: 0.8;
}

.searchCard > img{
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchCard_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    color: black !important;
}

.searchCard_heart{
    position: absolute;
    top: 20px;
    right: 40px;
    color: black !important;
}

.searchCard_infoTop{
    width: 40vw;
}

.searchCard_infoTop > h3{
    font-weight: 300;
    margin-top: 10px;
}

.searchCard_infoTop > p{
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

.searchCard_infoBottom{
    display: flex;
    justify-content: space-between;
}

.searchCard_star{
    color: red;
}

.searchCard_stars{
    display: flex;
    align-items: center;
}

.searchCard_price{
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.searchCard_price > h2 + p, .searchCard_price > h2{
    display: inline;
}

.searchCard_price > p{
    text-align: right;
}

