.header {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header.active{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px !important;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.header__logo {
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.header__logo.active {
  color: red;
}

.header__logo > svg{
  width: 102px;
  height: 32px;
  fill: currentColor;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.header__menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 40vw;
  justify-content: end;
  margin-right: 2rem;
}

.header__item {
  height: 80px;
}

.header__links {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.header__links.active {
  color: black;
}

.header__links:hover {
  border-bottom: 4px solid white;
  transition: all 0.2s ease-out;
}

.header__links:hover.active {
  border-bottom: 4px solid black;
}

.fa-bars.headerMenuIcon {
  color: white;
}

.fa-bars.headerMenuIcon__active {
  color: black;
}

.header__links__mobile {
  display: none;
}

.menu__icon {
  display: none;
}

.header__btn__signIn{
  background-color: transparent !important;
  color: white !important;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600 !important;
  padding: 8px 20px !important;
  border-radius: 2px;
  border: 1px solid white !important;
}

.header__btn__signIn.active{
  color: black !important;
  border: 1px solid black !important;
}

.header__btn__signIn:hover{
  background-color: rgba(255, 255, 255, 0.15) !important;
  color: white !important;
}

.header__btn__signIn:hover.active{
  background-color: rgb(247, 247, 247) !important;
  color: black !important;
}

.header__search{
  display: flex;
  flex: 1;
  align-items: center;
  /* max-width: fit-content; */
  padding: 10px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 999px; 
  margin-left: 100px;
}

.header__search:hover{
  box-shadow: 0px 6px 18px -9px rgb(247, 247, 247);
}

.header__search:hover.active{
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.header__search > .input__search {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  outline-width: 0;
  width: 250px;
  font-size: 14px;
  font-weight: 600;
}

.header__search > .input__search.active {
  color: black;
}

.header__search > button{
  color: rgb(227, 28, 95) 50% !important;
  min-width: 0px !important;
}

.header__search > button:hover{
  background-color: transparent!important;
}

.header__search .search__icon{
  color: white !important;
  border-radius: 50% !important;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) repeat scroll 0% 0% !important;
  padding: 10px !important;
}

.header__search .search__icon > svg{
  display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentColor;
  stroke-width: 5.333333333333333;
  overflow: visible;
}

@media screen and (max-width: 1350px) {
  .header__btn__signIn{
    padding: 8px 4px !important;
  
  }
  
  .header__menu {
    margin-left: -50px;
    margin-right: -1rem;
  }
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-left: 0;
    margin-right: 0;
  }

  .header__menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .header__menu.active.scroll {
    background: #adaaaa;
  }

  .header__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .header__links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .header__logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu__icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times.headerMenuIcon {
    color: white;
    font-size: 2rem;
  }

  .fa-times.headerMenuIcon__active {
    color: black;
  }

  .header__links__mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .header__links__mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }

  .header__search{
    margin-left: 0px;
  }

  .header__search > .input__search {
    width: 150px;
  }

  .header__search > .input__search.active {
    width: 150px;
  }
}
