/* .roomFirst__container{

} */

.roomFirst__heading, .roomFirst__images{
    padding-top: 24px;
}

.roomFirst__heading__name{
    margin-bottom: 4px;
    font-size: 18px;
}

.roomFirst__heading__description{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.roomFirst__heading__stars{
    align-items: center;
    display: inline-flex;
}

.roomFirst__heading__star{
    color: red;
    margin-right: 4px;
}

.roomFirst__heading__dot{
    margin: 0px 8px;
}

.roomFirst__heading__place{
    line-height: 20px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    text-decoration: underline;
}

.roomFirst__gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 6vw);
    grid-gap: 8px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}


.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--5 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}
