.roomInfo{
    -moz-box-pack: start !important;
    -moz-box-align: stretch !important;
    display: flex !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.roomInfo__container__left{
    position: relative !important;
    width: 58.3333% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.roomInfo__block{
    /* display: flex !important; */
    content: "" !important;
}

.roomInfo__block__first{
    padding-top: 48px;
    padding-bottom: 24px;
    display: flex;
}

.roomInfo__block__first_left{
    flex: 0 1 100% !important;
}

.roomInfo__block__first_left > h1{
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

.roomInfo__block__first_right{
    margin-bottom: 0px !important;
    margin-left: 16px !important;
}

/* .roomInfo__circle{
   
} */

.avatar{
    background-color: black !important;
    color: white !important;
    height: 52px !important;
    width: 52px !important;
}

.avatar:hover{
    cursor: pointer !important;
}

.roomInfo_line{
    border-top-width: 1px !important;
    border-top-style: solid !important;
    border-top-color: rgb(221, 221, 221);
}

.roomInfo__block__second{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.roomInfo__block__second__row{
    display: flex;
    margin-bottom: 24px;
}

.roomInfo__block__second__row__left{
    flex-shrink: 0;
}

.roomInfo__block__second__row__left > svg{
    display: block;
    height: 32px;
    width: 32px;
    fill: currentcolor;
}

.roomInfo__block__second__row__right{
    margin-left: 24px;
}

.roomInfo__block__second__row__right__title{
    margin-bottom: 4px;
    color: black;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.roomInfo__block__second__row__right__subTitle{
    color: #717171;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.roomInfo__block__third{
    padding-top: 32px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
}

.roomInfo__block__third > h2, .roomInfo__block__fourth > h2{
    padding-bottom: 24px;
    color: black;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

.roomInfo__block__third__paragraph{
    display: block !important;
}

.roomInfo__block__third__description{
    display: inherit !important;
    color: black !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    word-break: break-word !important;
}


.roomInfo__block__fourth{
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
}

.roomInfo__block__fourth__cells{
    margin-left: -8px !important;
    margin-right: -8px !important;
    width: calc(100% + 16px) !important;
    -moz-box-pack: start !important;
    -moz-box-align: stretch !important;
    display: flex !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
}

.roomInfo__block__fourth__cell{
    padding-left: 8px !important;
    padding-right: 8px !important;
    width: 50% !important;
}

.roomInfo__block__fourth__cell__detail{
    -moz-box-direction: reverse !important;
    -moz-box-orient: horizontal !important;
    -moz-box-pack: end !important;
    justify-content: flex-end !important;
    flex-direction: row-reverse !important;
    max-width: 83.3333% !important;
    -moz-box-align: center !important;
    display: flex !important;
    align-items: center !important;
    padding-bottom: 16px !important;
}

.roomInfo__block__fourth__cell__detail__icon{
    margin-right: 16px !important;
    margin-left: 0px !important;
    min-width: 24px !important;
}

.roomInfo__block__fourth__cell__detail__icon > svg{
    display: block;
    height: 32px;
    width: 32px;
    fill: currentcolor;
}

.roomInfo__container__right{
    position: relative !important;
    width: 33.3333% !important;
    margin-left: 8.33333% !important;
    margin-right: 0% !important;
}

.roomInfo__scroll{
    position: sticky !important;
    top: 80px !important;
    z-index: 1 !important;
    display: inline-block !important;
    width: 100% !important;
    padding-right: 1px !important;
    padding-bottom: 48px;
    margin-top: 48px;
}

.roomInfo__box{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.roomInfo__box__layout{
    color: black !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    -moz-box-direction: normal !important;
    -moz-box-orient: vertical !important;
    display: flex !important;
    flex-direction: column !important;
}

.roomInfo__box__layout__header{
    -moz-box-align: baseline !important;
    -moz-box-pack: justify !important;
    -moz-box-direction: normal !important;
    -moz-box-orient: horizontal !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: baseline !important;
}

.roomInfo__box__layout__header__left{
    -moz-box-pack: center !important;
    -moz-box-direction: normal !important;
    -moz-box-orient: vertical !important;
    -moz-box-align: start !important;
    align-items: flex-start !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-bottom: 24px !important;
}

.roomInfo__box__layout__header__defaultPrice{
    line-height: normal !important;
    width: 100% !important;
    font-size: 22px !important;
    line-height: 26px !important;
}

.roomInfo__defaultPrice{
    font-weight: 600 !important;
}

.roomInfo__night{
    color: black !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    white-space: nowrap !important;
    padding-left: 4px !important;
}

.roomInfo__stars{
    align-items: center;
    display: inline-flex;
    display: flex !important;
    font-size: 15px !important;
    line-height: 18px !important;
}

.roomFirst__star{
    color: red;
    margin-right: 4px;
}

.roomInfo__box__layout__body{
    margin-bottom: 16px !important;
    position: relative !important;
    border-radius: 8px;
    background-color: white!important;
}

.roomInfo__box__layout__body__row{
    display: flex !important;
}

.roomInfo__box__layout__body__row__a{
    width: 100% !important;
    position: relative !important;
}

